<h1>Create your chat</h1>
<form method="post" action="http://localhost:8080/chats" enctype="application/x-www-form-urlencoded">
    <label for="from">From : </label>
    <input type="text" name="from" id="from"><br><br>
    <label for="to">TO : </label>
    <input type="text" name="to" id="to"><br><br>
    <label for="msg">MSG : </label>
    <textarea name="msg" id="msg"></textarea><br><br>
    <button type="submit">Create chat</button>
    <button type="reset">Reset</button>
</form>